@charset "utf-8";

body{font-size: 10px;}

*{margin: 0; padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    user-select: none;
    scroll-behavior: smooth;}

ul, li, ol{list-style: none; color: inherit;}

a{text-decoration: none; color: inherit;}

button{border: 0; background-color: transparent;}

address{font-style: normal;}

input{border: none;}